@import 'src/styles/vars';

.app {
  max-width: 800px;
  margin: $gutter auto;
  font-family: $global-font;
  font-weight: $global-font-weight;
}

.blog--dark {
  background-color: black;
  color: white;
}
